## Why Python ?
- High level programming language
- Designed to be easy to learn and master
- Clean and clear syntax
- Highly portable
- Lots of libraries
- Extremely readable code
- Just too simple

In [ ]:
print ("%s is a string, %d is a decimal integer and %.3f is floating number upto 3 decimal place" %("Hello",21,24.9586545))

Hello is a string, 21 is a decimal integer and 24.959 is floating number upto 3 decimal place

##  How to take input from user and use it?

In [ ]:
name = input("My name is ")
print ("Welcome '%s' to Computer vision workshop." %name)

My name is Kabil
Welcome 'Kabil' to Computer vision workshop.

## Understanding difference between Compiler and Interpreter
 Compiler coverts the code as a whole from high level language to machine code whereas,
 Interpreter converts the code line by line from high language to machine code.

## Comments

### Single Line comment

use `#` for single line comment

### Multi Line comment
use `'''` (three single quotes) 

Note: This is not PEP-8 supported coding standard. Use multiple single line comment to conform to PEP-8.

for example:

In [ ]:
'''
This is an example to demonstrate single and multi-line comment

Multi-line comment
'''
# single line comment

print ("hello comments")

hello comments

#Data types
- int
- long
- float
- complex
- boolean

In [ ]:
a = 2
b = 222222222222222222
c = 2.2
d = 2+3j
e = True

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))

f = int(c)
print(f)

g = int(e)
print(g)

2 <class 'int'>
222222222222222222 <class 'int'>
2.2 <class 'float'>
(2+3j) <class 'complex'>
True <class 'bool'>
2
1

# STRING

In [ ]:
name = input("enter your name")
string_1 = "Hello " + name  # concatenation
string_2 = 'Welcome to COMPUTER VISION WORKSHOP'
print(string_1,string_2)

enter your nameKabilan
Hello Kabilan Welcome to COMPUTER VISION WORKSHOP

In [ ]:
# Repetition
string_1 = "Hello "*10
print (string_1)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [ ]:
string_1 = "Hello Robotics Club Sastra "

print ("Hello" in string_1) #Remember that it is case sensitive  
print ("hello" in string_1)

True
False

In [ ]:
string_1 = "Hello Robotics Club Sastra, Welcome to computer vision workshop"
# [start:stop:jump]
print (string_1[0])         # print first character
print (string_1[-1])
print (string_1[0:2])       # print character at 0 and 1 index
print (string_1[-1:])       # printing from backward. print character at last index
print (string_1[1:-2])      # 
print (string_1[::2])       # printing every alternate digit
print (string_1[::-1])      # printing reverse string
print (type(string_1))

H
p
He
p
ello Robotics Club Sastra, Welcome to computer vision worksh
HloRbtc lbSsr,Wloet optrvso okhp
pohskrow noisiv retupmoc ot emocleW ,artsaS bulC scitoboR olleH
<class 'str'>

In [ ]:
# print the alternative letter from b to s by jumping 3 values at a time
a = "abcdefghijklmnopqrstuvwxyz"
print(a[1:-7:3])

behknq

# STRING METHODS

## String Methods

- `capitalize()` - return string with first letter in upper case
- `upper()`      - return string with all letter in upper case
- `lower()`      - return string with all letter in lower case
- `count(str)`   - count occurrence of 'str' in string
- `find(str)`    - find 'str' in string. If found: return start index of first occurrance str, else return -1
- `index(str)`   - same as find, but raises exception when str is not found
- `join(seq)`    - join string represented as sequence into a string with a separator string between each string
- `len(str)`     - returns length of string
- `replace()`    - returns a copy of the string in which the occurrences of old have been replaced with new,optionally restricting the number of replacements to max.
- `split(str)`   - return a list which has string of words separated by str
- `strip(str)`   - remove occurrence of str from the beginning and the end of the string

In [ ]:
string_1 = "hello RCS, this is day one computer vision workshop"
cap_string = string_1.capitalize()
print(cap_string)

upper_string = string_1.upper()
print(upper_string)

lower_string = string_1.lower()
print(lower_string)

#count occurences
n = string_1.count('is')
print(n)

# find index
k = string_1.index('day')
print(k)

string_1 = string_1.replace('hello','HELLO')
print(string_1)

Hello rcs, this is day one computer vision workshop
HELLO RCS, THIS IS DAY ONE COMPUTER VISION WORKSHOP
hello rcs, this is day one computer vision workshop
3
13
HELLO RCS, this is day one computer vision workshop

In [ ]:
#joining the letters
letter = "e"
word = "lvl"
new_word = letter.join(word)
print (new_word)

level

In [ ]:
print(len(string_1))
print(max(string_1))

51
y

# limited replacements

In [ ]:
print ("replacement in string_1 ", string_1.replace('i','rcs',2))

replacement in string_1  HELLO RCS, thrcss rcss day one computer vision workshop

In [ ]:
# split function
string_1 = "asdfghjkl qwertyuiop zxcvbnm"
string_data = string_1.split(" ")
print(string_data)

['asdfghjkl', 'qwertyuiop', 'zxcvbnm']

## LETS DO SOME MATH

In [ ]:
x = 9
y = 7
print (x + y)
print (x - y)
print (x * y)      
print (5 / 2)      
print (5.0 / 2)
print (-5 / 2)
print (-5.0 / 2)
print (5 // 2)     
print (x % y)      
print (x ** y)     
print (divmod(5,2)) # GUESS WHAT IT RETURNS
print (type(divmod(x,y)))

16
2
63
2.5
2.5
-2.5
-2.5
2
2
4782969
(2, 1)
<class 'tuple'>

In [ ]:
print (abs(-18)) # mod function of our math

18

In [ ]:
print (round(1.72767,0))
print (round(1.34378,2))

2.0
1.34

### USING MATH MODULE

use import math

In [ ]:
import math as m
print (m.ceil(2.33))
print (m.floor(2.33))
print (m.exp(2))      # exp(x) - return e**x
print (m.pi)
print (m.log(2,2))
print (m.sqrt(4))

3
2
7.38905609893065
3.141592653589793
1.0
2.0

# Condtions
if
else-if

## Operators

"<" : Less Than

"<=" : Less Than or Equal to

">" : More Than 

">=" : More Than or Equal to

"==" : Equal to

"!=" : Not Equal to

In [ ]:
num_1 = 6
num_2 = 2
if (num_1%num_2 == 0):
    print ("number 1 is divisible by number 2")

number 1 is divisible by number 2

In [ ]:
num_1 = 6
num_2 = 4
if (num_1%num_2 == 0):
    print ("number 1 is divisible by number 2")
else:
    print ("number 1 is not divisible by number 2")

number 1 is not divisible by number 2

In [ ]:
# check if a number is even or odd
n1 = input("Enter a num")
n=int(n1)
if (n % 2 == 0):
  print("The num is Even")
else :
  print("The num is Odd")

Enter a num7
The num is Odd

## if - elif - else

In [ ]:
num_1 = 6
num_2 = 25
if (num_1%num_2 == 0):
    print (num_1," is divisible ",num_2)
elif (num_2%num_1 == 0):
    print (num_2," is divisible ",num_1)
else:
    print ("Both numbers are not divisible by each other")

In [ ]:
# nested if else

num_1 = 4
num_2 = 0

if num_2 == 0:
    print ("Division by Zero is not allowed")

elif num_2 != 0:
    if (num_1%num_2 == 0):
        print ("%d is divisible %d" %(num_1,num_2))
    else:
        print ("%d is not divisible %d" %(num_1,num_2))

## LOOPS

while

In [ ]:

i = 0
while i<5:
    print (i*i)
    i += 1

0
1
4
9
16

In [ ]:
# infinity while loop - break
i = 0
while (1):
    print (i*i)
    i += 1
    if i == 5:
        break

0
1
4
9
16

In [ ]:
# continue
i = 0
while (i<5):
    if i<2:
        i += 1
        continue
    print (i*i)
    i += 1

4
9
16

## Range function

Syntax: range (arg1, arg2, arg3)

- First argument: start value 
- Second argument: stop value
- Third argument: step-size. 

The range function returns a list of values from the start value to the stop value (not included), moving in steps of size given by the step-size argument.

In [ ]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2):
    print (i)

0
2
4
6
8

In [ ]:
for i in range (1,5):
    print ("")
    for j in range (1,5):
        print ("%d * %d = %d" %(i,j,i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

# MORE EASY STUFF IN LOOPS

In [ ]:
name  = input("enter your name")
for letter in name:
  print(letter)

enter your nameKabilan
K
a
b
i
l
a
n

# **LISTS AND TUPLES IN PYTHON**

## Topics to cover

- Defining List
- Indexing, slicing, check membership
- Methods
    - append
    - insert
    - count
    - extend
    - index
    - pop
    - remove
    - reverse
    - sort (reverse=True)
    - sorted
- length (len), max, min
- copy
- Multi-dimension
- list to string using join
- string to list using split

## tuples vs lists 
    1. tuples are immutable i.e. cannot be changed unlike lists 
    2. tuples use parentheses, whereas lists use square brackets

In [ ]:
#something similar to array
a = [1,2,3,4]
b = ['a',"bcd",'efgh']
c = [1,'a',2,'33']
print(a,b,c)
print(type(a))

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print (a[0])
print (a[0:7])
print (a[-2:])

In [ ]:
a[___] = 27
print(a)

In [ ]:
# lets add new elements to the list
a.append(23)
a.append(45)
a.append()

In [ ]:
# you can insert also
a.insert(3,55)
a.insert(position, value)

In [ ]:
#check for a member
a = [1,2,3,4,5,6,7,8,9]
i = int(input("enter a number"))
if i in a:
  print("yes")
else:
  print("no")


#lets check an element existence
print(10 in a)

In [ ]:
a = [0,1,2,1,2,1,2,1,2,3,11]
print(a)

print(len(a))

print(a.count(1))

print(max(a))

print(min(a))

a.remove(11)

print(a)

a.sort()

print(a)

a.append(21)
a.sort(reverse = True)
print(a)

a.pop()
print(a)

a.remove(1)
print(a)

# Tuples

In [ ]:
# they are similar to lists but are immutable
roll = (1,2,3,4,5) 
for rno in roll:
  print(rno)

# roll.append(6)
# roll[3] = 7

1
2
3
4
5

In [ ]:
tup_1 = (1,2,3) 
tup_2 = (4,5,6)
tup_3 = tup_1 + tup_2
print(tup_3)
# print(7 in tup_3)

(1, 2, 3, 4, 5, 6)

In [ ]:
# list to string
a = ['r','o','b','o','t']
b = ('r','c','s')
aa = "".join(a)
print(aa)
bb = "".join(b)
print(bb)

# MULTI DIMENSION LIST

In [ ]:
a = [[1,2,3],[4,5,6],[7,8,9]]
for row in a:
  for col in row:
    print(col,end = " ")
  print()

# Dictionary

In [ ]:
d = {'a':1, 'b':2 , 'c':3}
d['4'] = [5,2,3,4,2]
d['5'] = "string can also be stored"
print(d.items())
print(d.values())

dict_items([('a', 1), ('b', 2), ('c', 3), ('4', [5, 2, 3, 4, 2]), ('5', 'string can also be stored')])
dict_values([1, 2, 3, [5, 2, 3, 4, 2], 'string can also be stored'])

In [ ]:
for i in d.keys():
  print("key : ",i, " value : ",d[i])

key :  a  value :  1
key :  b  value :  2
key :  c  value :  3
key :  4  value :  [5, 2, 3, 4, 2]
key :  5  value :  string can also be stored

In [ ]:
del d['4']

In [ ]:
for i in d.keys():
  print("key : ",i, " value : ",d[i])

## Dictionary Builtin methods
- `clear()` - clear all elements of dictionary. Results in empty dictionary
- `copy()` - create a copy of dictionary
- `get(key, default=None)` - Returns value for given key. If Key is not present, returns the second argument.                            Second parameter is optional having default value of None
- `items()`  - returns list of `(key,value)` tuple
- `keys()`   - returns list of all key
- `values()` - returns list of list of values

In [ ]:
# lets code here

SETS

In [ ]:
a = [1,2,3,4,3,2,1,2,3,2,1]
print(a)

b = set(a)
print(b)
print(len(b))

## <center>Functions in Python </center>
### <center>Author: RCS </center>

- Code reusability
- Abstraction
- Testing becomes easy

### Syntax

```python
def funcName(parameters):
    # perform operations
    returnStatement;
```
A semicolon (;) in python is used to denote seperation and not termination

In [ ]:
def funcName():
    print("Welcome to workshop")
funcName()#function call

In [ ]:
def adder(a,b):
  return a+b

print(adder(1,19))
print(adder("robotics", "club"))

In [ ]:
#write python code to swap a function

In [ ]:
# write python code to return a list

LOCAL AND GLOBAL VARIABLES

In [ ]:
a = 5;
def func():
    a = 25; # local to func()
    print("from function", a)
func()
print(a) # prints the global a value

GLOBAL

In [ ]:
a = 10;
def func():
    global a;
    a = 15; # refers to global a
func()
print(a) # prints the global a value

LAMBDA FUNCTION

In [ ]:
x = 3;
y= 4;
sum = lambda x, y : x+y
print(sum(x,y))

LETS TEST OUR UNDERSTANDING

In [ ]:
# write a python code for removing duplicates in the list

# MODULES

- Modules are set of Python programs in a directory
- We can make set of related python library into a seperate directory which we call as a module
- Just like functions, modules are reusable

In [ ]:
import time

print("now wait for 5 seconds")
time.sleep(5)
print("yeah, printing")